body {
    padding: 0px;
    margin: 0px;
 }
 .main {
     background-color: rgb(204, 153,255);
     padding: 10px 20px 10px 20px;
 }
 
 .a1 {
     margin-top: 15px;
     margin-bottom: 10px;
     margin-left: 10px;
     text-align: center;
     width: 890px;
     height: 20px;
     background-color: rgb(251, 39, 39) ;
      
 }
.a2 {
    margin-top: 20px;
     margin-bottom: 10px;
     margin-left: 10px;
     text-align: center;
     width: 200px;
     height: 35px;
     background-color: rgb(153, 255, 153) ;
}
.a3 {
    margin-top: -45px;
     margin-bottom: 10px;
     margin-left: 240px;
     text-align: center;
     width: 200px;
     height: 35px;
     background-color: rgb(153, 255, 153) ;
}
.a4 {
    margin-top: -45px;
     margin-bottom: 10px;
     margin-left: 470px;
     text-align: center;
     width: 200px;
     height: 35px;
     background-color: rgb(153, 255, 153) ;
}
.a5 {
    margin-top: 20px;
     margin-bottom: 10px;
     margin-left: 10px;
     text-align: center;
     width: 200px;
     height: 150px;
     background-color: rgb(153, 255, 153) ;
}
.a6 {
    margin-top: -160px;
    margin-bottom: 10px;
    margin-left: 240px;
    text-align: center;
     width: 200px;
     height: 150px;
     background-color: rgb(153, 255, 153) ;
}
.a7 {
    margin-top: -160px;
     margin-bottom: 10px;
     margin-left: 470px;
     text-align: center;
     width: 200px;
     height: 150px;
     background-color: rgb(153, 255, 153) ;
}
.a8 {
    margin-top: 20px;
     margin-bottom: 10px;
     margin-left: 10px;
     text-align: center;
     width: 200px;
     height: 10px;
     background-color: rgb(153, 255, 153) ;
}
.a9 {
    margin-top: -20px;
     margin-bottom: 10px;
     margin-left: 240px;
     text-align: center;
     width: 200px;
     height: 10px;
     background-color: rgb(153, 255, 153) ;
}
.a10 {
    margin-top: -20px;
     margin-bottom: 10px;
     margin-left: 470px;
     text-align: center;
     width: 200px;
     height: 10px;
     background-color: rgb(153, 255, 153) ;
}
.a11 {
    margin-top: 20px;
     margin-bottom: 10px;
     margin-left: 10px;
     text-align: center;
     width: 150px;
     height: 10px;
     background-color: rgb(153, 255, 153) ;
}
.a12 {
    margin-top: -20px;
     margin-bottom: 10px;
     margin-left: 170px;
     text-align: center;
     width: 40px;
     height: 10px;
     background-color: rgb(153, 255, 153) ;
}
.a13 {
    margin-top: -20px;
     margin-bottom: 10px;
     margin-left: 240px;
     text-align: center;
     width: 150px;
     height: 10px;
     background-color: rgb(153, 255, 153) ;
}
.a14 {
    margin-top: -20px;
     margin-bottom: 10px;
     margin-left: 400px;
     text-align: center;
     width: 40px;
     height: 10px;
     background-color: rgb(153, 255, 153) ;
}
.a15 {
    margin-top: -20px;
     margin-bottom: 10px;
     margin-left: 470px;
     text-align: center;
     width: 150px;
     height: 10px;
     background-color: rgb(153, 255, 153) ;
}
.a16 {
    margin-top: -20px;
     margin-bottom: 10px;
     margin-left: 630px;
     text-align: center;
     width: 40px;
     height: 10px;
     background-color: rgb(153, 255, 153) ;
}
.a17 {
    margin-top: 20px;
     margin-bottom: 10px;
     margin-left: 10px;
     text-align: center;
     width: 660px;
     height: 5px;
     background-color: rgb(255, 99, 71) ;
}
.a18 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    width: 200px;
    height: 35px;
    background-color: rgb(147, 112, 219) ;
}
.a19 {
    margin-top: -45px;
    margin-bottom: 10px;
    margin-left: 240px;
    text-align: center;
    width: 200px;
    height: 35px;
    background-color: rgb(147, 112, 219) ;
}
.a20 {
    margin-top: -45px;
    margin-bottom: 10px;
    margin-left: 470px;
    text-align: center;
    width: 200px;
    height: 35px;
    background-color: rgb(147, 112, 219) ;
}
.a21 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    width: 200px;
    height: 150px;
    background-color: rgb(147, 112, 219) ;
}
.a22 {
    margin-top: -159px;
    margin-bottom: 10px;
    margin-left: 240px;
    text-align: center;
    width: 200px;
    height: 150px;
    background-color: rgb(147, 112, 219) ;
}
.a23 {
    margin-top: -159px;
    margin-bottom: 10px;
    margin-left: 470px;
    text-align: center;
    width: 200px;
    height: 150px;
    background-color: rgb(147, 112, 219) ;
}
.a24 {
    margin-top: 20px;
     margin-bottom: 10px;
     margin-left: 10px;
     text-align: center;
     width: 200px;
     height: 10px;
     background-color: rgb(147, 112, 219) ;
}
.a25 {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 240px;
    text-align: center;
    width: 200px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.a26 {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 470px;
    text-align: center;
    width: 200px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.a27 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.a28 {
    margin-top: -20px;
     margin-bottom: 10px;
     margin-left: 170px;
     text-align: center;
     width: 40px;
     height: 10px;
     background-color: rgb(147, 112, 219) ;
}
.a29 {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 240px;
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.a30 {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 402px;
    text-align: center;
    width: 40px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.a31 {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 470px;
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: rgb(147, 112, 219) ; 
}
.a32 {
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 630px;
    text-align: center;
    width: 40px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.a33 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    width: 660px;
    height: 150px;
    background-color: rgb(199, 21, 133) ;
}
.v1 {
    margin-top: -760px;
    margin-bottom: 10px;
    margin-left: 700px;
    text-align: center;
    width: 200px;
    height: 750px;
    background-color: rgb(147, 112, 219) ;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.v2 {
    margin-top: -796px;
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: center;
    width: 220px;
    height: 330px;
    background-color: rgb(240, 230, 140) ;
}
.v3 {
    margin-top: -440px;
    margin-bottom: 10px;
    margin-left: -220px;
    text-align: center;
    width: 219px;
    height: 50px;
    background-color: rgb(255, 140, 0) ;
}
.v4 {
    margin-top: -370px;
    margin-bottom: 10px;
    margin-left: -220px;
    text-align: center;
    width: 60px;
    height: 50px;
    background-color: rgb(160, 82, 45) ;
}
.v5 {
    margin-top: -370px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.v6 {
    margin-top: -350px;
    margin-bottom: 10px;
    margin-left: -150px;
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.v7 {
    margin-top: -330px;
    margin-bottom: 10px;
    margin-left: -150px;
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.v8 {
    margin-top: -310px;
    margin-bottom: 10px;
    margin-left: -220px;
    text-align: center;
    width: 220px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.v9 {
    margin-top: -280px;
    margin-bottom: 10px;
    margin-left: -220px;
    text-align: center;
    width: 220px;
    height: 5px;
    background-color: rgb(207, 181, 59) ;
}
.v10 {
    margin-top: -250px;
    margin-bottom: 10px;
    margin-left: -220px;
    text-align: center;
    width: 60px;
    height: 50px;
    background-color: rgb(160, 82, 45) ;
}
.v11 {
    margin-top: -250px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.v12 {
    margin-top: -230px;
    margin-bottom: 10px;
    margin-left: -150px;
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.v13 {
    margin-top: -210px;
    margin-bottom: 10px;
    margin-left: -150px;
    text-align: center;
    width: 150px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.v14 {
    margin-top: -190px;
    margin-bottom: 10px;
    margin-left: -220px;
    text-align: center;
    width: 220px;
    height: 10px;
    background-color: rgb(147, 112, 219) ;
}
.v15 {
    margin-top: -160px;
    margin-bottom: 10px;
    margin-left: -220px;
    text-align: center;
    width: 220px;
    height: 5px;
    background-color: rgb(207, 181, 59) ;
}